/* tyrocare */

html{
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.thyrocare {}

.thyrocare .main-section {
    background-image: url("../images/background.jpg");
    /* padding: 0 120px; */
}

.thyrocare .main-section .overlay {
    background: linear-gradient(to left, #36a7f8 0%, #000000 75%);
}

.thyrocare .main-section .human-img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.thyrocare .main-section .thyrocare-img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 2em;
}

.thyrocare .main-section h1 {
    font-weight: 600;
    font-size: 3.5em;
    letter-spacing: 2px;
    text-transform: none;
    line-height: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: Montserrat;
}

.thyrocare .main-section .offer-info h2 {
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: none;
    line-height: 1.2em;
    font-family: Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1
}

.thyrocare .main-section .offer-info h3 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.thyrocare .main-section .offer-info ul {
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 0px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

.thyrocare .main-section .offer-info .discount {
    margin-left: auto;
    /* border: 3px solid #fff; */
    padding: 0px 22px;
    border-radius: 50%;
    margin-right: auto;
    width: 338px;
    height: 200px;
}

.thyrocare .main-section .offer-info .discount .num {
    font-size: 141px;
    padding: 0px;
    margin: 0px;
    letter-spacing: 0px;
    line-height: 0em;
    font-family: Montserrat;
    /* text-align: left; */
}

.thyrocare .offer-info {
    color: #fff;
    margin-bottom: 30px;
}

.thyrocare .dis-price {
    float: right;
    font-size: 22px;
    font-weight: 600;
    font-family: Montserrat;
}

.thyrocare .dis-price .fa-inr {
    font-size: 22px;
}

.thyrocare .dis-price .dis-strike {
    font-size: 18px;
    text-align: center;
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 20%;
    top: 50%;
    right: 0;
    border-top: 1.5px solid #fff;
    border-color: inherit;

    -webkit-transform: rotate(-23deg);
    -moz-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    -o-transform: rotate(-23deg);
    transform: rotate(-23deg);
}

.thyrocare .offer-info button {
    background: transparent;
    padding: 7px 30px;
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 1.4em;
    font-weight: 700;
}

.thyrocare .offer-info button:hover {
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
}

.thyrocare .logo-image {
    height: 65px;
}

.thyrocare .reskew {
    padding-top: 11em;
}

.thyrocare .test-section {
    padding-bottom: 30px;
    background: #F7F8FA;

}
.thyrocare .test-section .shot {
    background: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    box-shadow: 0px 0px 2px 1px rgba(208, 205, 205, 0.55);
}

.thyrocare .test-section .shot img {
    border-radius: 4px;
    width: 100%;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
    height: 480px;
    object-position: 100% 0;
}

.process-box,
.process-box-wrapper {
    width: 320px;
}

@media (min-width: 0px) and (max-width: 576px) {
    .thyrocare .test-section {
        padding: 0px;
        margin-bottom: 20px;
    }
}

.thyrocare .test-section h5 {
    margin: 5px auto;
    color: #1699f7;
    letter-spacing: 0.2em;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.thyrocare .test-section h6 {
    color: #7fbd02;
    /* margin: 10px 0 40px auto; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.thyrocare .panel-default {
    box-shadow: 0px 0px 2px 2px rgba(208, 205, 205, 0.55);
    border-radius: 4px;
    background: #E4E4E4;
    box-shadow: 0px 0px 2px 2px rgba(208, 205, 205, 0.55);
    border-radius: 4px;
    background: #ffffff;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.thyrocare .panel-heading {
    box-shadow: 0px 0px 2px 2px rgba(208, 205, 205, 0.55);
    background: #E4E4E4;
    /* font-size: 1em; */
    font-weight: 600;
    font-family: none;
    cursor: pointer;
}

.thyrocare .panel .fa-inr {
    font-size: 1em;
    margin: 0px;
    padding: 0;
}

.thyrocare .panel-heading .panel-title {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.thyrocare .panel-heading .price {
    color: #a94442;
}

.thyrocare .panel-heading .strike-price {
    font-size: 0.8em;
    text-decoration: line-through
}

.thyrocare .panel-heading .icon {
    font-size: 1.2em;
    padding: 0 0px 0 10px;
    font-weight: 700;
}

.thyrocare .panel ul {
    padding-left: 0px;
    margin-left: 0px;
}

.thyrocare .offer-img {
    padding-bottom: 20px;
}

.thyrocare .offer-img img {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 150px;
    width: 100%;
    object-position: 100% 0;
    border-radius: 4px;
}

.thyrocare .panel-heading .panel-title{
    text-transform: lowercase;
}
.thyrocare .panel-heading .panel-title::first-line{
    text-transform: capitalize;
}

.thyrocare .avail-section h5 {
    margin: 5px auto;
    color: #1699f7;
    letter-spacing: 0.2em;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.thyrocare .avail-section h6 {
    color: #7fbd02;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.thyrocare .avail-section {
    margin: 30px 0px;
}

.thyrocare .avail-section .cust-tel {
    color: #36A7F8;
    font-size: 3.5em;
    font-family: Montserrat;
    font-weight: 600;
    padding: 10px;
    margin-top: 30px;
}
.thyrocare .avail-section .cust-tel a{
    color: #36A7F8;
}

.thyrocare .avail-section .tyro-logo {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.thyrocare .avail-section .tc {
    color: #707070;
    font-size: 20px;
    font-family: Regular 20px/27px Segoe UI;
}

.thyrocare .avail-section p {
    text-align: center;
    font-family: Montserrat;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 15px;
    font-weight: 600;
}

.thyrocare .avail-section a {
    color: #707070;
}

.thyrocare .contact-section {
    background: #000000;
    padding: 50px 0px;
    font-family: Montserrat;
}

.thyrocare .contact-section h4 {
    letter-spacing: 1px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2em;
    padding: 5px;
    text-align: right;
}

.thyrocare .contact-section .left-divider {
    /* border-left: 2px solid #fff; */
}

.thyrocare .contact-section h5 {
    letter-spacing: 0;
    color: #b9b9b9;
    font-weight: 700;
    padding: 5px;
    text-align: right;
}

.thyrocare .contact-section .citycash-logo {
    width: 250px;
    /* height: 86px; */
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
}

.thyrocare .contact-section a:hover,
.thyrocare .contact-section a:active {
    text-decoration: underline;
    color: #f1f1f1;
}

.m-b-30 {
    margin-bottom: 30px;
}

.thyrocare{
    /* height: 100%; */
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .thyrocare .main-section{
        padding: 0px;
    }
    .thyrocare .hero.parallax {
        height: 100%;
    }
    .thyrocare .main-section h1{
        font-size: 1.3em;
    }
    .thyrocare .main-section .body-img{
        margin-bottom: 10px;
    }
    .thyrocare .main-section .human-img{
        width: 90%;
    }
    .thyrocare .main-section .thyrocare-img {
        width: 70%;
        padding-top: 20px;
    }
    .thyrocare .offer-info{
        background: #000;
        padding-bottom: 15px;
    }

    .thyrocare .contact-section h4{
        font-size: 14px;
        text-align: left;
    }
    .thyrocare .contact-section h5{
        text-align: left;
    }
    .thyrocare .contact-section .citycash-logo{
        padding-bottom: 10px;
    }

    .thyrocare .avail-section .cust-tel{
        font-size: 2em;
        padding: 0px;
    }
    .thyrocare .avail-section .tyro-logo{
        width: 200px;
    }
    .thyrocare .main-section .offer-info .discount{
        padding: 0;
        width: 100%;
    }
    .thyrocare .main-section .offer-info h2{
        font-size: 1.5em;
    }
    .thyrocare .main-section .offer-info h3{
        font-size: 1.2em;
    }

    .thyrocare .logo-image{
        height: 54px;
        padding-top: 10px;
    }
    .thyrocare .test-section .shot img{
        height:350px;
    }
    .thyrocare .panel-heading .panel-title{
        font-size: 12px;
    }

    .process-box, .process-box-wrapper{
        width: auto;
    }
}

@media only screen and (max-width: 770px){
.hero.parallax, .intro-ytp, .vedio-hero {
    height: 100%;
}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .thyrocare .test-section {
        padding: 0 30px;
    }

    .thyrocare .logo-image{
        height: 55px;
    }

    .thyrocare .main-section h1 {
        font-size: 24px;
        padding-bottom: 0px;
    }

    .thyrocare .main-section .offer-info h2{
        font-size: 22px;
    }
    .thyrocare .main-section .offer-info h3{
        font-size: 20px;
    }
    .thyrocare .main-section .offer-info ul{
        font-size: 18px;
    }
    .thyrocare .avail-section .tyro-logo {
        width: 300px;
    }

    .thyrocare .avail-section .cust-tel {
        font-size: 2.5em;
        padding: 0px;
    }

    .thyrocare .avail-section p {
        font-size: 13px;
    }


    .thyrocare .contact-section {
        padding: 30px 30px;
    }

    .thyrocare .contact-section .left-divider {
        border-left: none;
        /* border-top:1px solid #fff; */
    }

    .thyrocare .contact-section .citycash-logo {
        width: 200px;
        margin-right: auto;
        letter-spacing: 0;
        opacity: 1;
        margin-bottom: 30px;
    }

    .thyrocare .contact-section h4 {
        font-size: 14px;
        text-align: left;
    }

    .thyrocare .contact-section h5 {
        text-align: left;
    }
    .thyrocare .panel-heading .panel-title{
        font-size: 12px;
    }
    .thyrocare .test-section .shot img{
        height: 280px;
    }
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .thyrocare .main-section .human-img{
        width: 50%;
    }
    .thyrocare .main-section h1{
        font-size: 22px;
    }
    .thyrocare .main-section .offer-info h2{
        font-size: 20px;
    }
    .thyrocare .main-section .offer-info h3{
        font-size: 18px;
    }
    .thyrocare .main-section .offer-info ul{
        font-size: 16px;
    }
    /* .process-box-wrapper {
        height: 230px;
    } */
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .thyrocare{
        /* height: 100%; */
    }
    .thyrocare .test-section {
        padding-top: 10px;
    }

    .thyrocare .main-section h1 {
        font-size: 36px;
    }

    .thyrocare .main-section .offer-info h2{
        font-size: 26px;
    }

    .thyrocare .contact-section .left-divider {
        border-top: 0;
    }
    .thyrocare .avail-section .tyro-logo{
        width: 300px;
    }
    .thyrocare .avail-section .cust-tel{
        font-size: 30px;
    }
}


/* width 1280 x height 720 */

@media(min-width: 1201px) and (max-width: 1281px){
    .thyrocare .main-section h1 {
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .thyrocare .main-section .human-img{
        width: 50%;
    }
    .thyrocare .main-section .thyrocare-img{
        width: 30%;
    }
    .thyrocare .main-section .offer-info ul{
        font-size: 16px;
    }
    .thyrocare .main-section .offer-info h3{
        font-size: 18px;
    }
    .thyrocare .offer-info button{
        font-size: 14px;
        padding: 5px 25px;
    }
    .thyrocare .test-section .shot img{
        height: 300px;
    }
    
    .thyrocare .main-section .offer-info .discount{
        width: 35%;
        padding: 0;
        height: 120px;
    }
    .thyrocare .panel-heading{
        padding: 7px 10px;
    }
    .thyrocare .test-section h5{
        font-size: 18px;
    }
    .thyrocare .test-section h6{
        font-size: 17px;
    }
    .thyrocare .panel-heading .panel-title{
        font-size: 12px;
    }


    .process-box, .process-box-wrapper{
        width: auto;
    }
    .process-box-wrapper {
        width: 200px !important;
        padding: 150px 0 !important;
        margin-bottom: 15px !important;
    }
    .p-box-img img{
        height: 100px !important;
    }

    .p-box-title{
        font-size: 14px !important;
    }
    .p-box-text{
        font-size: 12px !important;
    }

    .hexagon-icon:nth-child(1) .p-box{
        width: 370px !important;
        bottom: 0px !important;
    }
    .hexagon-icon:nth-child(2) .p-box{
        width: 330px !important;
        margin: -28px 0px 0px 25px !important;
    }
    .hexagon-icon:nth-child(3){
        margin: -85px 0px 0 0px !important;
    }
    .hexagon-icon:nth-child(3) .p-box{
        width: 370px !important;
        margin: -80px 0px 0 0px !important;
    }
    .hexagon-icon:nth-child(6) .p-box{
        width: 330px !important;
        margin: 0px 0px 0 0 !important
    }
    .hexagon-icon:nth-child(6){
        margin-left: -25px !important;
        margin-bottom: 80px !important;
    }
    .hexagon-icon:nth-child(5){
        margin-bottom: 0px !important;
    }
    .hexagon-icon:nth-child(7) .p-box{
        width: 330px !important;
        margin: -30px 0px 0px 0px !important;
    }

}

.p-box-img img {
    width: auto;
    height: 185px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 768px) {
    .thyrocare .contact-section h4{
        text-align: left;
    }
    .thyrocare .contact-section h5{
        text-align: left;
    }
    .process-box-wrapper {
        position: relative;
        margin: auto;
        padding: 265px 0;
        margin-bottom: 55px;
        width: 300px;
        background: url(../images/blood-test_01.png) no-repeat center center;
        background-size: 100% auto;
    }

    .process-box {
        position: relative;
        /* width: 470px; */
        height: 223px;
    }

    .process-box span {
        width: 100%;
        text-align: center;
        top: 50%;
        position: relative;
        float: left;
        margin-top: -9px;
    }
}

.hexagon-icon {
    position: absolute;
    z-index: 2;
}

body.layout-2 .hexagon-icon i {
    border-width: 3px;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
}


.hexagon-icon:nth-child(1) {
    top: 0;
    left: 50%;
}

.hexagon-icon:nth-child(1) .p-box {
    width: 370px;
    bottom: 62px;
    left: 50%;
    margin-left: -190px;
}

.hexagon-icon:nth-child(2) {
    left: 100%;
    margin-top: -46px;
}

.hexagon-icon:nth-child(2) .p-box {
    width: 300px;
    text-align: left;
    top: 0;
    left: 100%;
    margin: -60px 0px 0px 15px;
}

.hexagon-icon:nth-child(3) {
    bottom: 0;
    left: 100%;
    margin-left: -46px;
    margin-bottom: -46px;
}

.hexagon-icon:nth-child(3) .p-box {
    width: 300px;
    text-align: left;
    top: 0;
    left: 100%;
    margin: -75px 0px 0 55px;
}

.hexagon-icon:nth-child(5) {
    bottom: 0;
    left: 50%;
    margin-left: -46px;
    margin-bottom: -160px;
}

.hexagon-icon:nth-child(5) .p-box {
    width: 370px;
    bottom: 0;
    left: 50%;
    margin-left: -140px;
    margin-bottom: -170px;
}

.hexagon-icon:nth-child(6) {
    bottom: 0;
    left: 0;
    margin-left: -46px;
    margin-bottom: -46px;
}

.hexagon-icon:nth-child(6) .p-box {
    width: 300px;
    text-align: right;
    top: 0;
    right: 100%;
    margin: -74px -10px 0 0
}

.hexagon-icon:nth-child(7) {
    top: 0;
    left: 0;
    margin-left: -46px;
    margin-top: -46px;
}

.hexagon-icon:nth-child(7) .p-box {
    width: 300px;
    top: 0;
    right: 100%;
    margin: -75px 0px 0px 0px;
}

.p-box {
    line-height: 22px;
    position: absolute;
}

.p-box-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    color: #707070;
    text-align: center;
}

.p-box-text {
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 500;
    color: #444;
    text-align: center;
}

@media (max-width: 1199px) {

    .hexagon-icon:nth-child(2) .p-box,
    .hexagon-icon:nth-child(3) .p-box,
    .hexagon-icon:nth-child(6) .p-box,
    .hexagon-icon:nth-child(7) .p-box {
        width: 270px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .process-box:before {
        top: -160px;
    }

    .process-box:after {
        bottom: -160px;
    }

    .p-box {
        font-size: 13px;
    }

    .hexagon-icon:nth-child(2) .p-box,
    .hexagon-icon:nth-child(3) .p-box,
    .hexagon-icon:nth-child(6) .p-box,
    .hexagon-icon:nth-child(7) .p-box {
        width: 150px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .thyrocare .test-section{
        padding: 0px;
    }
    .thyrocare .avail-section .tyro-logo{
        width: 300px;
    }

    .hexagon-icon {
        width: 100%;
        position: relative;
        margin: 0 0 55px !important;
        text-align: center;
        left: inherit !important;
        right: inherit !important;
        top: inherit !important;
        bottom: inherit !important;
    }

    .hexagon-icon i {
        display: inline-block;
        box-shadow: none;
        margin-bottom: 15px;
    }

    .hexagon-icon:last-child:after {
        display: none;
    }

    .hexagon-icon>img {
        display: block;
        margin: 5px auto;
        max-width: 300px;
    }

    .p-box {
        position: relative;
        left: inherit !important;
        right: inherit !important;
        top: inherit !important;
        bottom: inherit !important;
        margin: 0 auto 0 !important;
        text-align: center !important;
        width: 100% !important;
        max-width: 320px;
    }
}


.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -25px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -15px;
    display: block !important;
    border:0px solid black;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent !important;
}

.owl-prev i, .owl-next i {color: #ccc; font-size: 70px;}

.thyrocare-nav .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent;
}

.thyrocare-nav .dropdown-menu{
    position: absolute !important;
    min-width: auto;
    padding: 0px 0;
    margin: 0px;
}
.thyrocare-nav .dropdown-menu>li>a{
    padding: 6px 20px;
    margin: 0px;
}
.thyrocare-nav .dropdown-toggle{
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.shrink .thyrocare-nav .dropdown-toggle{
    color: #000;
}

.thyrocare-nav .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent;
    color: #000;
}

.thyrocare-nav .nav>li>a:focus, .nav>li>a:hover{
    background: transparent;
}

.shrink .thyrocare-nav .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent;
}

.shrink .thyrocare-nav .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent;
    color: #000;
}

.shrink .thyrocare-nav .nav>li>a:focus, .nav>li>a:hover{
    background: transparent;
}

.shrink .thyrocare-nav .dropdown-menu{
    position: absolute;
}



@media (max-width:770px){
    .thyrocare-nav{
        float: right;
        margin-top: 12px;
        border: 0;
    }
}

.thyrocare-nav{
    margin-right: 50px;
    margin-top: 15px;
}

.thyrocare-nav button {
    padding: 5px 15px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid #ffff;
    font-size: 16px;
    font-weight: bold;
}
.shrink .thyrocare-nav button {
    padding: 5px 15px;
    border-radius: 8px;
    background: transparent;
    color: #000;
    border: 2px solid #c0c0c0;
}

@media (max-width: 767px){
    .thyrocare-nav button
    {
        padding: 3px 8px;
        font-size: 13px;
        margin-top: 10px;
    }
    .shrink .thyrocare-nav button {
        padding: 3px 8px;
    }

    .thyrocare-nav .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
    .shrink .thyrocare-nav .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }
}

@media (max-width: 767px){
.navbar-nav .open .dropdown-menu>li>a {
    line-height: 10px;
}
}
@media (max-width: 767px){
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 7px 10px 7px 10px;
}
}
