@font-face {
  font-family: 'AdobeDevanagari-Regular';
  src: url('../font/AdobeDevanagari-Regular.otf');
}

.sc {
  font-family: 'AdobeDevanagari-Regular';
}

.sc h2 {
  color: #3E88DC;
  font-weight: 600;
  font-size: 23px;
}

.sc h1 {
  color: #3E88DC;
  font-weight: bold;
  font-size: 42px;
}

.sc .main-section img {
  display: block;
  margin-left: auto;
  margin-right: auto
}


.sc h6 {
  font-size: 14px;
}

.sc .citycash-img {
  height: 80px;
  float: right
}

.sc .msrct-img {
  height: 80px;
}


.sc .desc img {
  width: 25%;
  height: 200px;
}
.sc .desc p {
  font-size: 24px;
  margin-top: 5px;
}

@media (max-width:801px) {

  .sc .msrct-img {
    height: 46px;
  }

  .sc .citycash-img {
    height: 46px;
  }

  .sc .desc img {
    width: 100%;
    height: 80px;
  }
  .sc .desc p {
    font-size: 14px;
  }
}

.sc .footer {
  background: #000;
  color: #f1f1f1;
  padding-top: 15px;
  padding-bottom: 1px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}