 @font-face {
      font-family: 'AdobeDevanagari-Regular';
      src: url('../font/AdobeDevanagari-Regular.otf');
    }

  .sc {
    font-family: 'AdobeDevanagari-Regular';
  }

  .color-primary {
    color: #539FD7;
  }
  .bg1-primary {
    background: #539FD7;
  }
  .bg-second{
    background: #7ebc42 !important;
  }
  .border-1 {
    border: 1px solid #fff;
  }
  .sc h2{
      color: #3E88DC;
      font-weight: 600;
      font-size: 23px;
  }
  .sc h1{
      color: #3E88DC;
      
      font-size: 32px;
  }

  /* .sc .main-section{
    background-color: #E3FFFF;
  } */
  .sc .main-section img{
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  /* .sc .table td, 
  .sc .table th{
    padding: .4rem;
    font-size: 18px;
  } */

  .sc h6 {
    font-size: 14px;
  }

  /* .sc table thead{
    background: #EC411B;
    color: #fff;
    
  } */

  .sc ul{
    padding-left: 1rem;
    font-size: 20px;
  }

  .sc .fino-img{
    width: 210px;
    float: right;
  }

  .sc .citycash-img{
    height: 80px;
    float: right
  }

  .sc .msrct-img{
    height: 80px;
  }
  
.sc .watermark{
    position: absolute;
    margin-left: 46%;
    margin-top: 150px;
}
.owl-carousel img {
  width: 50%;
    margin-left: auto;
    margin-right: auto;

}
  @media (max-width:801px)  {
    .sc .fino-img{
      width: 145px;
    }

    .sc .msrct-img{
      height: 46px;
    }
    .sc .citycash-img{
      height: 46px;
    }

    .sc iframe{
      height: 320px;
    }
    .sc .watermark{
    position: absolute;
    margin-left: 30%;
    margin-top: 150px;
    }
    .sc .watermark img{
      width: 100px;
    }
    
    .owl-carousel img {
      width: 100%;
    }

  }

  .owl-carousel img:hover {
    cursor: pointer;
}

.customer-plans thead {
  border-bottom: 2px solid #fff;
  vertical-align: middle;
}

.customer-plans thead tr td {
	padding: 10px;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
}

.customer-plans tbody tr td {
	padding: 5px;
  font-size: 15px;
}

.table td, .table th{
  border-top: 0 !important;
}

.slick-next:before, .slick-prev:before{
  color: #000 !important;
}