@font-face {
  font-family: 'AdobeDevanagari-Bold';
  src: url('../font/AdobeDevanagari-Bold.otf');
}

@font-face {
  font-family: 'AdobeDevanagari-Regular';
  src: url('../font/AdobeDevanagari-Regular.otf');
}

.sc {
  font-family: 'AdobeDevanagari-Bold';
}

.sc h2 {
  color: #3E88DC;
  /* font-weight: 600; */
  font-size: 28px;
}

.sc h1 {
  color: #DC2028;
  font-size: 52px;
}
.sc .main-section p{
  font-size: 24px;
  color: #3E88DC;
}
.sc .main-section img{
  width: 65%;
}
.sc .sec-secton{
  background-color: #DC2028;
  color: #fff;
  padding: 5px 0px;
  font-size: 26px;
}

.sc .sec-secton img {
  height: 90px;
}
.sc .ques {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
}

.sc .ans {
  font-family: 'AdobeDevanagari-Regular';
  font-weight: 500;
  color: #565656;
  font-size: 19px;
}


.sc .table td,
.sc .table th {
  padding: .4rem;
  font-size: 22px;
}

.sc h6 {
  font-size: 14px;
}

.sc table thead {
  color: #000;
  font-weight: 600;
}

.sc ul {
  padding-left: 1rem;
  font-size: 20px;
}

.sc .fino-img {
  width: 210px;
  float: right;
}

.sc .citycash-img {
  height: 80px;
  float: right
}

.sc .msrct-img {
  height: 45px;
  margin-top: 15px;
}

.sc .watermark {
  position: absolute;
  margin-left: 30%;
  margin-top: 90px;
}
.sc .watermark img{
  width: 147px;
}


.sc .off1 {
  height: 180px;
}
.sc .off2 {
  height: 243px;
}

.sc .desktop-view {
  display: block;
}
.sc .mobile-view {
  display: none;
}

@media (max-width:801px) {
  .sc .sec-secton img {
    height: 50px;
  }
  .sc h1 {
    font-size: 32px;
  }

  .sc .off1 {
    height: 80px;
  }
  .sc .off2 {
    height: 145px;
  }

  .sc .fino-img {
    width: 145px;
  }

  .sc .msrct-img {
    margin-top: 14px;
    height: 25px;
  }

  .sc .citycash-img {
    height: 46px;
  }

  .sc .watermark {
    position: absolute;
    margin-left: 30%;
    margin-top: 160px;
  }
  .sc .watermark img{
    width: 70px;
  }
  
  .sc .main-section img{
    width: 100%;
  }
  .sc .ques {
    font-size: 22px;
  }

  .sc .ans {
    font-size: 18px;
  }

  .sc .main-section p{
    font-size: 18px;
  }

  .sc .sec-secton{
    font-size: 20px;
  }

  .sc .table td,
  .sc .table th {
    padding: .4rem;
    font-size: 20px;
  }

  .sc .desktop-view {
    display: none;
  }
  .sc .mobile-view {
    display: block;
  }
}